.select{
    width: 320px;
    position: relative;
}
.selectTitle{
    cursor: pointer;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    color: var(--Text-Primary, var(--Text-Primary, rgba(0, 0, 0, 0.85)));
    text-overflow: ellipsis;
    /* Header/Header 2 */
    font-family: "Museo Sans Cyrl";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
}
.selectTitle::after{
    width: 16px;
    content: url('../../svg/arrow.svg');
}
.activeTab{
    cursor: pointer;
    transition: 0.5s;
    top: 0;
    position: absolute;
    width: 328px;
    border-radius: 6px;
    background:  #FFF;
    /* shadows/YC Select shadow */
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    margin: -12px -8px;
}
.activeTabTitle{
    padding: 12px 8px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    border-bottom: 1px solid  rgba(0, 0, 0, 0.10);
}
.option:hover{
    transition: 0.5s;
    background-color: #0000000D;
}
.option{
    padding: 6px 16px;
}
.option:last-of-type{
    padding-bottom: 10px;
}
.activeTabItems{
    display: flex;
    flex-direction: column;
}